.srcdev-components-extended {
  .display-prompt-core {
    .display-prompt-wrapper {
      background-color: var(--colour-theme-10);
      border: 1px solid var(--colour-theme-8);
      border-inline-start: 8px solid var(--colour-theme-8);
      border-radius: 4px;
      border-start-start-radius: 8px;
      border-end-start-radius: 8px;

      &.dark {
        background-color: var(--gray-12);
        border: 1px solid var(--gray-12);
        border-inline-start: 8px solid var(--colour-theme-8);

        &.outlined {
          border: 1px solid var(--colour-theme-8);
          border-inline-start: 8px solid var(--colour-theme-8);
        }
      }

      .display-prompt-inner {
        align-items: center;
        gap: 12px;
        padding-block: 1rem;
        padding-inline: 1.5rem;

        .display-prompt-icon {
          .icon {
            color: var(--colour-theme-0);
            font-size: 3rem;
            font-style: normal;
            font-weight: normal;
          }
        }

        .display-prompt-content {
          gap: 1rem;
          margin: 0;
          padding: 0.2rem;

          .title {
            font-size: var(--step-5);
            font-weight: bold;
            line-height: 1.3;
            color: var(--colour-theme-0);
            margin: 0;
            padding: 0;
          }

          .text {
            font-size: var(--step-5);
            font-weight: normal;
            line-height: 1.3;
            color: var(--colour-theme-0);
            margin: 0;
            padding: 0;
          }
        }
        .display-prompt-action {
          background-color: transparent;
          align-items: center;
          margin: 1rem;
          padding: 0.5rem;
          border: 0.1rem solid var(--colour-theme-8);
          border-radius: 50%;
          outline: 1px solid var(--colour-theme-3);

          &:hover {
            cursor: pointer;
          }

          .icon {
            color: var(--colour-theme-0);
            font-size: var(--step-5);
            border: 1px solid green;
            padding: 1rem;
          }
        }
      }
    }
  }
}
