:where(html) {
  --shadow-color: light-dark(#2526271a, #d2d9e040);
  --shadow-strength: 1%;
  --inner-shadow-highlight: inset 0 -0.5px 0 0 #fff, inset 0 0.5px 0 0 #0001;
  --shadow-1: 0 1px 2px -1px var(--shadow-color);
  --shadow-2: 0 3px 5px -2px var(--shadow-color), 0 7px 14px -5px var(--shadow-color);
  --shadow-3:
    0 -1px 3px 0 var(--shadow-color), 0 1px 2px -5px var(--shadow-color), 0 2px 5px -5px var(--shadow-color),
    0 4px 12px -5px var(--shadow-color), 0 12px 15px -5px var(--shadow-color);
  --shadow-4:
    0 -2px 5px 0 var(--shadow-color), 0 1px 1px -2px var(--shadow-color), 0 2px 2px -2px var(--shadow-color),
    0 5px 5px -2px var(--shadow-color), 0 9px 9px -2px var(--shadow-color), 0 16px 16px -2px var(--shadow-color);
  --shadow-5:
    0 -1px 2px 0 var(--shadow-color), 0 2px 1px -2px var(--shadow-color), 0 5px 5px -2px var(--shadow-color),
    0 10px 10px -2px var(--shadow-color), 0 20px 20px -2px var(--shadow-color), 0 40px 40px -2px var(--shadow-color);
  --shadow-6:
    0 -1px 2px 0 var(--shadow-color), 0 3px 2px -2px var(--shadow-color), 0 7px 5px -2px var(--shadow-color),
    0 12px 10px -2px var(--shadow-color), 0 22px 18px -2px var(--shadow-color), 0 41px 33px -2px var(--shadow-color),
    0 100px 80px -2px var(--shadow-color);
  --inner-shadow-1: inset 0 1px 2px 0 var(--shadow-color), var(--inner-shadow-highlight);
  --inner-shadow-2: inset 0 1px 4px 0 var(--shadow-color), var(--inner-shadow-highlight);
  --inner-shadow-3: inset 0 2px 8px 0 var(--shadow-color), var(--inner-shadow-highlight);
  --inner-shadow-4: inset 0 2px 14px 0 var(--shadow-color), var(--inner-shadow-highlight);
}
