:root {
  --theme-form-font-familty: var(--font-family);
  --theme-error-surface: var(--red-12);
  --theme-error-text: var(--red-0);
  --theme-form-button-font-size-normal: var(--form-element-font-size);
  --theme-form-transition-duration: 0.2s;
  --theme-input-placeholder-font-size: var(--step-4);

  input:autofill,
  input:-internal-autofill-selected,
  input:-webkit-autofill-strong-password,
  input:-webkit-autofill-strong-password-viewable,
  input:-webkit-autofill-and-obscured {
    background-color: var(--theme-button-surface) !important;
    background-image: none !important;
    color: var(--_input-text-core-color) !important;
    -webkit-box-shadow: 0 0 0rem 1000px var(--theme-button-surface) inset;
    -webkit-text-fill-color: var(--_input-text-core-color);
    transition: background-color 5000s ease-in-out 0s;
  }
}
