:root {
  /* --font-family: futura-pt, Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif; */
  /* font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif; */
  /* --font-family: "Inter Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Quicksand", futura-pt, Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;
}

html {
  color-scheme: light dark;

  &[data-color-scheme="light"] {
    color-scheme: light;
  }

  &[data-color-scheme="dark"] {
    color-scheme: dark;
  }

  background-color: var(--page-bg);

  font-size: 62.5%;

  transition: background-color 0.4s ease, color 0.4s ease;
  scrollbar-gutter: stable;

  overflow-x: hidden;
}
body {
  color: light-dark(var(--gray-12), var(--gray-3));
  font-size: var(--step-4);
  min-height: 100vh;
  transition: background-color 0.4s ease, color 0.4s ease;

  overflow-x: hidden;
}
