[data-theme='ghost'] {
  --colour-theme-0: var(--gray-0);
  --colour-theme-1: var(--gray-1);
  --colour-theme-2: var(--gray-2);
  --colour-theme-3: var(--gray-3);
  --colour-theme-4: var(--gray-4);
  --colour-theme-5: var(--gray-5);
  --colour-theme-6: var(--gray-6);
  --colour-theme-7: var(--gray-7);
  --colour-theme-8: var(--gray-8);
  --colour-theme-9: var(--gray-9);
  --colour-theme-10: var(--gray-10);
  --colour-theme-11: var(--gray-11);
  --colour-theme-12: var(--gray-12);

  /* Buttons */
  --theme-button-surface: light-dark(var(--gray-5), var(--gray-4));
  --theme-button-surface-hover: light-dark(var(--gray-6), var(--gray-5));

  --theme-button-border: light-dark(var(--gray-9), var(--gray-4));
  --theme-button-border-hover: light-dark(var(--gray-10), var(--gray-5));
  --theme-button-border-focus: light-dark(var(--gray-10), var(--gray-5));

  --theme-button-outline: transparent;
  --theme-button-outline-hover: light-dark(var(--gray-10), var(--gray-5));
  --theme-button-outline-focus: light-dark(var(--gray-10), var(--gray-5));

  --theme-button-text: var(--gray-0);
  --theme-button-text-hover: var(--gray-0);
  --theme-button-text-focus: var(--gray-0);
}
