:root {
  [data-theme="ghost"] {
    /* Buttons */
    --theme-button-surface: light-dark(var(--gray-2), var(--gray-8));
    --theme-button-surface-hover: var(--gray-10);

    --theme-button-border: transparent;
    --theme-button-border-hover: transparent;
    --theme-button-border-focus: transparent;

    --theme-button-outline: transparent;
    --theme-button-outline-hover: light-dark(var(--gray-10), var(--gray-6));
    --theme-button-outline-focus: light-dark(var(--gray-10), var(--gray-6));

    --theme-button-text: light-dark(var(--gray-10), var(--gray-1));
    --theme-button-text-hover: var(--gray-0);
    --theme-button-text-focus: var(--gray-0);
  }
}
