:root {
  [data-theme="info"] {
    --theme-button-surface: light-dark(var(--blue-5), var(--blue-4));
    --theme-button-surface-hover: light-dark(var(--blue-6), var(--blue-5));

    --theme-button-border: light-dark(var(--blue-9), var(--blue-4));
    --theme-button-border-hover: light-dark(var(--blue-10), var(--blue-5));
    --theme-button-border-focus: light-dark(var(--blue-10), var(--blue-5));

    --theme-button-outline: transparent;
    --theme-button-outline-hover: light-dark(var(--blue-10), var(--blue-5));
    --theme-button-outline-focus: light-dark(var(--blue-10), var(--blue-5));

    --theme-button-text: var(--blue-0);
    --theme-button-text-hover: var(--blue-0);
    --theme-button-text-focus: var(--blue-0);
  }
}
