:where(html) {
  [data-size="small"] {
    --form-element-font-size: var(--step-4);
    --form-placeholder-font-size: calc(var(--step-4) * 0.65);
    --form-element-line-height: var(--step-4);
    --form-icon-size: var(--step-4);
    --form-input-border-radius: 0.4rem;
    --form-icon-only-button-size: calc(var(--step-4) * 2.25 + 1px);
    --form-toggle-symbol-size: calc(var(--step-4) * 1.635);
    --form-toggle-switch-width-adjustment: 0.3rem;
  }
}
