:where(html) {
  --focus-box-shadow-colour-off: transparent;
  --focus-box-shadow-colour-on: light-dark(var(--blue-12), var(--gray-0));
  --form-focus-box-shadow: 0 0 0 0.3rem;

  --box-shadow-off: 0 0 0 0.3rem transparent;
  --box-shadow-on: 0 0 0 0.3rem light-dark(var(--blue-12), var(--gray-0));

  --theme-focus-visible-outline: 1px solid var(--theme-focus-visible-outline);

  --theme-focus-visible-shadow-soft: 0 1px 2px rgba(var(--theme-focus-visible-shadow-soft), 0.05);
  --theme-focus-visible-shadow-medium: 0 3px 6px rgba(var(--theme-focus-visible-shadow-medium), 0.1);
  --theme-focus-visible-shadow-strong: 0 6px 12px rgba(var(--theme-focus-visible-shadow-strong), 0.15);
}
