/* @link https://utopia.fyi/clamp/calculator?a=360,1240,1—2|2—4|4—8|6—12|8—16|10—20|12—24|16—32|20—40 */

:where(html) {
  --fluid-1-2: clamp(0.0625rem, 0.0369rem + 0.1136vw, 0.125rem);
  --fluid-2-4: clamp(0.125rem, 0.0739rem + 0.2273vw, 0.25rem);
  --fluid-4-8: clamp(0.25rem, 0.1477rem + 0.4545vw, 0.5rem);
  --fluid-6-12: clamp(0.375rem, 0.2216rem + 0.6818vw, 0.75rem);
  --fluid-8-16: clamp(0.5rem, 0.2955rem + 0.9091vw, 1rem);
  --fluid-10-20: clamp(0.625rem, 0.3693rem + 1.1364vw, 1.25rem);
  --fluid-12-24: clamp(0.75rem, 0.4432rem + 1.3636vw, 1.5rem);
  --fluid-16-32: clamp(1rem, 0.5909rem + 1.8182vw, 2rem);
  --fluid-20-40: clamp(1.25rem, 0.7386rem + 2.2727vw, 2.5rem);
}
