[data-component-theme='secondary'] {
  --component-theme-0: var(--gray-0);
  --component-theme-1: var(--gray-1);
  --component-theme-2: var(--gray-2);
  --component-theme-3: var(--gray-3);
  --component-theme-4: var(--gray-4);
  --component-theme-5: var(--gray-5);
  --component-theme-6: var(--gray-6);
  --component-theme-7: var(--gray-7);
  --component-theme-8: var(--gray-8);
  --component-theme-9: var(--gray-9);
  --component-theme-10: var(--gray-10);
  --component-theme-11: var(--gray-11);
  --component-theme-12: var(--gray-12);
}
