[data-component-theme='success'] {
  --component-theme-0: var(--green-0);
  --component-theme-1: var(--green-1);
  --component-theme-2: var(--green-2);
  --component-theme-3: var(--green-3);
  --component-theme-4: var(--green-4);
  --component-theme-5: var(--green-5);
  --component-theme-6: var(--green-6);
  --component-theme-7: var(--green-7);
  --component-theme-8: var(--green-8);
  --component-theme-9: var(--green-9);
  --component-theme-10: var(--green-10);
  --component-theme-11: var(--green-11);
  --component-theme-12: var(--green-12);
}
