[data-component-theme='warning'] {
  --component-theme-0: var(--orange-0);
  --component-theme-1: var(--orange-1);
  --component-theme-2: var(--orange-2);
  --component-theme-3: var(--orange-3);
  --component-theme-4: var(--orange-4);
  --component-theme-5: var(--orange-5);
  --component-theme-6: var(--orange-6);
  --component-theme-7: var(--orange-7);
  --component-theme-8: var(--orange-8);
  --component-theme-9: var(--orange-9);
  --component-theme-10: var(--orange-10);
  --component-theme-11: var(--orange-11);
  --component-theme-12: var(--orange-12);
}
