.srcdev-forms-extended {
  .input-text-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--theme-input-surface);
    transition: all var(--theme-form-transition-duration) ease-in-out;

    &:hover {
      background-color: var(--theme-input-surface-hover);
    }

    &:focus-within {
      background-color: var(--theme-input-surface-hover);
      outline: var(--theme-focus-visible-outline);
      box-shadow: var(--theme-focus-visible-shadow);
    }

    &.normal {
      outline: var(--form-element-outline-width) solid
        var(--theme-input-outline);

      border-radius: var(--form-input-border-radius);

      border-top: var(--form-element-border-width) solid
        var(--theme-input-border);
      border-right: var(--form-element-border-width) solid
        var(--theme-input-border);
      border-bottom: var(--form-element-border-width) solid
        var(--theme-input-border);
      border-left: var(--form-element-border-width) solid
        var(--theme-input-border);

      padding-inline: 1rem;

      &:focus-within {
        outline-color: var(--theme-input-outline-focus);
        outline-offset: var(--form-element-outline-offset-focus);
      }

      &.error {
        border-color: var(--theme-error-surface);
        outline-color: var(--theme-error-surface);
      }

      .slot {
        display: flex;
        place-items: center;
        background-clip: padding-box;

        &.left-slot:not([data-theme="input-action"]) {
          .icon {
            width: 2.2rem;
            height: 2.2rem;
          }

          [data-theme="input-action"] {
            width: initial;
            height: initial;
            padding: 0.5rem;

            .icon {
              width: 1.8rem;
              height: 1.8rem;
            }
          }
        }
        &.right-slot:not([data-theme="input-action"]) {
          .icon {
            width: 2.2rem;
            height: 2.2rem;
          }

          [data-theme="input-action"] {
            width: initial;
            height: initial;
            padding: 0.5rem;

            .icon {
              width: 1.8rem;
              height: 1.8rem;
            }
          }
        }
      }

      &[data-inputmode="numeric"] {
        padding-block: 0rem;
        padding-inline: 0.75rem;

        .slot {
          [data-theme="input-action"] {
            width: initial;
            height: initial;
            padding: 0.5rem;

            .icon {
              width: 1.8rem;
              height: 1.8rem;
            }
          }
        }
      }
    }

    &.underlined {
      margin-block-start: 0;
      padding-block: 0;
      padding-inline: 1rem;

      outline: var(--form-element-outline-width) solid transparent;

      border-bottom-left-radius: var(--form-input-border-radius-underlined);
      border-bottom-right-radius: var(--form-input-border-radius-underlined);

      border-top: none;
      border-right: none;
      border-bottom: var(--form-element-border-width-underlined) solid
        var(--theme-input-border);
      border-left: none;

      overflow: hidden;

      &.error {
        outline-color: var(--theme-error-surface);
        border-bottom-right-radius: var(--form-input-border-radius-underlined);
        border-bottom-left-radius: var(--form-input-border-radius-underlined);

        border-top: var(--form-element-border-width) solid
          var(--theme-error-surface);
        border-right: var(--form-element-border-width) solid
          var(--theme-error-surface);
        border-bottom: var(--form-element-border-width) solid
          var(--theme-error-surface);
        border-left: var(--form-element-border-width) solid
          var(--theme-error-surface);
      }

      .slot {
        display: flex;
        place-items: center;
        background-clip: padding-box;

        &.left-slot:not([data-theme="input-action-underlined"]) {
          .icon {
            width: 2.2rem;
            height: 2.2rem;
          }

          [data-theme="input-action-underlined"] {
            width: initial;
            height: initial;
            padding: 0.5rem;

            .icon {
              width: 1.8rem;
              height: 1.8rem;
            }
          }
        }
        &.right-slot:not([data-theme="input-action-underlined"]) {
          .icon {
            width: 2.2rem;
            height: 2.2rem;
          }

          [data-theme="input-action-underlined"] {
            width: initial;
            height: initial;
            padding: 0.5rem;

            .icon {
              width: 1.8rem;
              height: 1.8rem;
            }
          }
        }
      }
    }

    .input-text-core {
      all: unset;
      flex-grow: 1;

      font-family: var(--font-family);
      font-size: var(--form-element-font-size);
      line-height: var(--form-element-line-height);
      padding-block: var(--input-element-padding-block);
      padding-inline: 1rem;

      &::placeholder {
        color: var(--theme-input-placeholder);
        font-size: var(--theme-input-placeholder-font-size);
        font-style: italic;
        line-height: 1;
        font-weight: normal;
      }
    }
  }
}
