.srcdev-forms-extended {
  .input-error-message {
    color: var(--input-error-color);
    background-color: var(--theme-error-surface);

    &.show {
      border: var(--form-element-border-width) solid var(--theme-error-surface);
      border-bottom-left-radius: var(--form-input-border-radius-underlined);
      border-bottom-right-radius: var(--form-input-border-radius-underlined);

      &.detached {
        border-top: var(--form-element-border-width) solid
          var(--theme-error-surface);
        border-right: var(--form-element-border-width) solid
          var(--theme-error-surface);
        border-bottom: var(--form-element-border-width) solid var(--red-8);
        border-left: var(--form-element-border-width) solid
          var(--theme-error-surface);

        border-radius: var(--form-input-border-radius);
      }
    }

    .inner {
      .inner-content {
        .inner-icon {
          padding-left: 1.2rem;

          .icon {
            color: white;
          }
        }

        .message {
          font-size: 1.6rem;
          font-weight: 500;
          padding-block: 1.2rem 1rem;
          padding-inline: 1.2rem;

          .message-single {
            color: white;
          }

          .message-list {
            .message-list-item {
              color: white;
            }

            .message-list-item + .message-list-item {
              margin-block-start: 0.6rem;
            }
          }
        }
      }
    }
  }
}
