:root {
  /* Label vars */
  .normal {
    --input-label-text-color: var(--theme-form-input-text-label-color-normal);
    --input-label-text-margin-block: 0.8rem;
    --input-label-text-size: var(--step-5);
    --input-label-text-weight: normal;
    --input-label-text-line-height: 1.5;
  }

  .underlined {
    --input-label-text-color: var(--theme-form-input-text-label-color-normal);
    --input-label-text-margin-block: 0.8rem;
    --input-label-text-size: var(--step-5);
    --input-label-text-weight: normal;
    --input-label-text-line-height: 1.5;
  }
}
