.srcdev-forms-extended {
  .input-select-wrapper {
    background-color: var(--theme-input-surface);

    background-color: var(--theme-input-surface);

    &:hover {
      background-color: var(--theme-input-surface-hover);
    }

    &:focus-within {
      background-color: var(--theme-input-surface-hover);
      outline: var(--theme-focus-visible-outline);
      box-shadow: var(--theme-focus-visible-shadow);
    }

    &.normal {
      outline: var(--form-element-outline-width) solid var(--theme-input-outline);

      border-top-left-radius: var(--form-input-border-radius);
      border-top-right-radius: var(--form-input-border-radius);
      border-bottom-left-radius: var(--form-input-border-radius);
      border-bottom-right-radius: var(--form-input-border-radius);

      border-top: var(--form-element-border-width) solid var(--theme-input-border);
      border-right: var(--form-element-border-width) solid var(--theme-input-border);
      border-bottom: var(--form-element-border-width) solid var(--theme-input-border);
      border-left: var(--form-element-border-width) solid var(--theme-input-border);

      &:focus-within {
        outline-color: var(--theme-input-outline-focus);
        outline-offset: var(--form-element-outline-offset-focus);
      }

      &.error {
        border-color: var(--theme-error-surface);
      }
    }

    &.underlined {
      margin-block-start: 0;
      padding-block: 0;

      outline: var(--form-element-outline-width) solid transparent;

      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: var(--form-input-border-radius-underlined);
      border-bottom-right-radius: var(--form-input-border-radius-underlined);

      border-top: none;
      border-right: none;
      border-bottom: var(--form-element-border-width-underlined) solid var(--theme-input-border);
      border-left: none;

      &.error {
        outline-color: var(--theme-error-surface);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        border-top: var(--form-element-border-width) solid var(--theme-error-surface);
        border-right: var(--form-element-border-width) solid var(--theme-error-surface);
        border-bottom: var(--form-element-border-width) solid var(--theme-error-surface);
        border-left: var(--form-element-border-width) solid var(--theme-error-surface);
      }
    }

    .input-select-core {
      appearance: none;
      background-color: transparent;

      /* For legacy support - eg, Safari */
      /* &::after {
      content: '';
      width: 0.8em;
      height: 0.5em;
      background-color: var(--theme-input-border);
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    } */

      /* Start modern Select CSS */
      &,
      &::picker(select) {
        appearance: base-select;
      }

      &::picker(select) {
        transition: display allow-discrete var(--theme-form-transition-duration),
          opacity var(--theme-form-transition-duration), overlay var(--theme-form-transition-duration) allow-discrete;
      }

      &:not(:open)::picker(select) {
        opacity: 0;
      }

      &:open::picker(select) {
        opacity: 1;
        border: var(--form-element-border-width) solid var(--theme-input-border);
        outline: var(--form-element-outline-width) solid var(--_input-select-outline-color);

        @starting-style {
          opacity: 0;
        }
      }

      border: none;
      outline: none;
      border-radius: 0;
      width: 100%;

      &:hover {
        background-color: var(--theme-input-surface-hover);
      }

      /* END modern Select CSS */

      font-family: var(--font-family);
      font-size: var(--form-element-font-size);
      line-height: var(--form-element-line-height);
      padding-block: 1.5rem;
      padding-inline: 1rem;

      .input-select-core-option {
        padding-block: 1rem;
        padding-inline: 1.75rem;
        gap: 1.5rem;
        transition: all var(--theme-form-transition-duration) ease-in-out;

        &:hover {
          background-color: var(--theme-input-surface-hover);
        }

        .input-select-core-option-decorator-icon {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
