.srcdev-forms-extended {
  .input-checkbox-radio-wrapper {
    background-color: var(--theme-checkbox-symbol-surface);
    border: var(--form-element-border-width) solid var(--theme-input-border);
    outline: var(--form-element-outline-width) solid var(--theme-input-outline);
    box-shadow: var(--_box-shadow);

    &.x-small {
      --input-symbol-size: var(--step-3);
    }

    &.small {
      --input-symbol-size: var(--step-4);
    }

    &.default {
      --input-symbol-size: var(--step-7);
    }

    &.medium {
      --input-symbol-size: var(--step-6);
    }

    &.large {
      --input-symbol-size: var(--step-6);
    }

    &.checkbox {
      border-radius: var(--form-input-border-radius);
      &.button {
        &.display-as-disc {
          border-radius: 50%;
        }
      }
    }

    &.radio {
      border-radius: 50%;
    }

    &:has(.input-checkbox-radio-core:checked) {
      .input-checked-icon-slot {
        .input-checked-icon-checked {
          color: var(--theme-checkbox-symbol-color);
        }
      }
    }

    /* focus-visible */
    &:not(.button):focus-within {
      background-color: var(--theme-input-surface-focus);
      outline-color: var(--theme-input-outline-focus);
      outline-offset: var(--form-element-outline-offset-focus);
    }

    .input-checked-icon-checked {
      color: var(--theme-checkbox-symbol-color);
      box-shadow: var(--_box-shadow);
    }

    .input-checkbox-radio-core {
      margin: 0;
      opacity: 0;

      &:not(.is-button) {
        &:focus-visible {
          /* background-color: var(--theme-input-surface-focus);
          outline-color: var(--theme-input-outline-focus);
          outline-offset: var(--form-element-outline-offset-focus); */
        }
      }
    }
  }
}
