.your-site-class {
  .input-checkbox-radio-options-button {
    gap: 1rem;
    border-radius: 1lh;

    /* &.inline {} */

    background-color: var(--theme-input-surface);
    border: var(--form-element-border-width) solid var(--theme-input-border);
    outline: var(--form-element-outline-width) solid var(--theme-input-outline);

    box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem transparent;
    padding-block: var(--input-checkbox-radio-options-padding-block);
    padding-inline: var(--input-checkbox-radio-options-padding-inline);

    &:hover {
      background-color: var(--theme-input-surface-hover);
      border-color: var(--theme-input-border);
      outline-color: var(--theme-input-outline-hover);
      outline-offset: var(--form-element-outline-offset-focus);
    }

    &:has(.input-checkbox-radio-core:focus-visible) {
      background-color: var(--theme-input-surface-focus);
      outline-color: var(--theme-input-outline-focus);
      outline-offset: var(--form-element-outline-offset-focus);
    }

    /* Sizes */
    &.x-small {
      padding-block: 0.2rem;
      padding-inline: 1.6rem;
      gap: 1rem;
    }
    &.small {
      padding-block: 0.2rem;
      padding-inline: 1.6rem;
      gap: 1rem;
    }
    &.default {
      padding-block: 0.4rem;
      padding-inline: 1.2rem;
      gap: 1rem;
    }
    &.medium {
      padding-block: 0.4rem;
      padding-inline: 1.2rem;
      gap: 1rem;
    }
    &.large {
      padding-block: 0.4rem;
      padding-inline: 1.2rem;
      gap: 1rem;
    }

    .input-checkbox-radio-options-button-label {
      color: var(--theme-checkbox-label-text-color);
      font-size: var(--form-element-font-size);
      min-height: var(--form-element-line-height);
      padding-block: 0.8rem;
      padding-inline: 0.8rem;

      &:hover {
      }
    }

    .decorator-icon {
      color: var(--theme-checkbox-symbol-color);

      .icon {
        height: var(--theme-checkbox-decorator-icon-size);
        width: var(--theme-checkbox-decorator-icon-size);
      }
    }
  }
}
