[data-prompt-theme='info'] {
  --component-theme-0: var(--blue-0);
  --component-theme-1: var(--blue-1);
  --component-theme-2: var(--blue-2);
  --component-theme-3: var(--blue-3);
  --component-theme-4: var(--blue-4);
  --component-theme-5: var(--blue-5);
  --component-theme-6: var(--blue-6);
  --component-theme-7: var(--blue-7);
  --component-theme-8: var(--blue-8);
  --component-theme-9: var(--blue-9);
  --component-theme-10: var(--blue-10);
  --component-theme-11: var(--blue-11);
  --component-theme-12: var(--blue-12);
}
