.page-heading-1 {
  font-size: var(--step-8);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.3;
}

.page-heading-2 {
  font-size: var(--step-7);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.3;
}

.page-heading-3 {
  font-size: var(--step-6);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.3;
}

.page-heading-4 {
  font-size: var(--step-5);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.3;
}

.page-heading-5 {
  font-size: var(--step-4);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.3;
}

.page-heading-6 {
  font-size: var(--step-3);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.3;
}
