.page-link-large {
  color: var(--theme-link-default);
  font-size: var(--step-6);
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.5;
  text-decoration: underline;
}

.page-link-large-semibold {
  color: var(--theme-link-default);
  font-size: var(--step-6);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.5;
  text-decoration: underline;
}

.page-link-medium {
  color: var(--theme-link-default);
  font-size: var(--step-5);
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.5;
  text-decoration: underline;
}

.page-link-medium-semibold {
  color: var(--theme-link-default);
  font-size: var(--step-5);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.5;
  text-decoration: underline;
}

.page-link-normal {
  color: var(--theme-link-default);
  font-size: var(--step-4);
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.5;
  text-decoration: underline;
}

.page-link-normal-semibold {
  color: var(--theme-link-default);
  font-size: var(--step-4);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.5;
  text-decoration: underline;
}

.page-link-small {
  color: var(--theme-link-default);
  font-size: var(--step-3);
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.5;
  text-decoration: underline;
}

.page-link-small-semibold {
  color: var(--theme-link-default);
  font-size: var(--step-3);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.5;
  text-decoration: underline;
}

.page-link-xsmall {
  color: var(--theme-link-default);
  font-size: var(--step-2);
  font-weight: 400;
  font-variation-settings: "wght" 400;
  line-height: 1.5;
  text-decoration: underline;
}

.page-link-xsmall-semibold {
  color: var(--theme-link-default);
  font-size: var(--step-2);
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1.5;
  text-decoration: underline;
}

.page-link-large,
.page-link-large-semibold,
.page-link-medium,
.page-link-medium-semibold,
.page-link-normal,
.page-link-normal-semibold,
.page-link-small,
.page-link-small-semibold,
.page-link-xsmall,
.page-link-xsmall-semibold {
  margin: 0;
  &:visited {
    color: var(--theme-link-default);
  }

  &:hover {
    color: var(--theme-link-hover);
  }

  &:focus-visible {
    color: var(--theme-link-hover);
    outline: 2px solid var(--theme-link-default);
    outline-offset: 3px;
    border-radius: 4px;
  }
}
