.page-heading-1 {
  font-size: var(--step-8);
}

.page-heading-2 {
  font-size: var(--step-7);
}

.page-heading-3 {
  font-size: var(--step-6);
}

.page-heading-4 {
  font-size: var(--step-5);
}

.page-heading-5 {
  font-size: var(--step-4);
}

.page-heading-6 {
  font-size: var(--step-3);
}

.page-heading-1,
.page-heading-2,
.page-heading-3,
.page-heading-4,
.page-heading-5,
.page-heading-6 {
  font-weight: 600;
  font-variation-settings: "wght" 600;
  line-height: 1;
  margin: 0;
}
