.page-body-large {
  font-size: var(--step-6);
  font-weight: 400;
  font-variation-settings: "wght" 400;
}

.page-body-medium {
  font-size: var(--step-5);
  font-weight: 400;
  font-variation-settings: "wght" 400;
}

.page-body-normal {
  font-size: var(--step-4);
  font-weight: 400;
  font-variation-settings: "wght" 400;
}

.page-body-small {
  font-size: var(--step-3);
  font-weight: 400;
  font-variation-settings: "wght" 400;
}

.page-body-xsmall {
  font-size: var(--step-2);
  font-weight: 400;
  font-variation-settings: "wght" 400;
}

.page-body-large-light {
  font-size: var(--step-6);
  font-weight: 200;
  font-variation-settings: "wght" 200;
}

.page-body-medium-light {
  font-size: var(--step-5);
  font-weight: 200;
  font-variation-settings: "wght" 200;
}

.page-body-normal-light {
  font-size: var(--step-4);
  font-weight: 200;
  font-variation-settings: "wght" 200;
}

.page-body-small-light {
  font-size: var(--step-3);
  font-weight: 200;
  font-variation-settings: "wght" 200;
}

.page-body-xsmall-light {
  font-size: var(--step-2);
  font-weight: 200;
  font-variation-settings: "wght" 200;
}

.page-body-large-semibold {
  font-size: var(--step-6);
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

.page-body-medium-semibold {
  font-size: var(--step-5);
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

.page-body-normal-semibold {
  font-size: var(--step-4);
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

.page-body-small-semibold {
  font-size: var(--step-3);
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

.page-body-xsmall-semibold {
  font-size: var(--step-2);
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

.page-body-large-bold {
  font-size: var(--step-6);
  font-weight: 700;
  font-variation-settings: "wght" 700;
}

.page-body-medium-bold {
  font-size: var(--step-5);
  font-weight: 700;
  font-variation-settings: "wght" 700;
}

.page-body-normal-bold {
  font-size: var(--step-4);
  font-weight: 700;
  font-variation-settings: "wght" 700;
}

.page-body-small-bold {
  font-size: var(--step-3);
  font-weight: 700;
  font-variation-settings: "wght" 700;
}

.page-body-xsmall-bold {
  font-size: var(--step-2);
  font-weight: 700;
  font-variation-settings: "wght" 700;
}

/*
* Shared styles
*/
.page-body-large,
.page-body-medium,
.page-body-normal,
.page-body-small,
.page-body-xsmall,
.page-body-large-light,
.page-body-medium-light,
.page-body-normal-light,
.page-body-small-light,
.page-body-xsmall-light,
.page-body-large-semibold,
.page-body-medium-semibold,
.page-body-normal-semibold,
.page-body-small-semibold,
.page-body-xsmall-semibold,
.page-body-large-bold,
.page-body-medium-bold,
.page-body-normal-bold,
.page-body-small-bold,
.page-body-xsmall-bold {
  line-height: 1.5;
  margin: 0;
}
