/* By numeric step */
.wght-100 {
  font-weight: 100;
}
.wght-200 {
  font-weight: 200;
}
.wght-300 {
  font-weight: 300;
}
.wght-400 {
  font-weight: 400;
}
.wght-500 {
  font-weight: 500;
}
.wght-600 {
  font-weight: 600;
}
.wght-700 {
  font-weight: 700;
}
.wght-800 {
  font-weight: 800;
}
.wght-900 {
  font-weight: 900;
}

/* By named weight */
.light {
  font-weight: light;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
